<html lang="he" style="direction: rtl;  font-family: 'Comic Sans MS'">
<div class="container">

  <div style="  text-align: center;" >
    <h2 id="header">
קבלת
      סחורה </h2>
  </div>
  <div id="subTitles">
    <label id="date"> {{fullDate}} </label>
    <label id="name">{{(supplier |async)?.name }}</label>
  </div>
  <div id="checkWithName">
    <input type="checkbox" id="checkAll" [(ngModel)]="selectedAll" (change)="checkAll();"/>
    <label for="checkAll" class="check-box"> </label><span>בחר הכל</span>
  </div>
  <table class="w3-table-all">
    <thead>
    <tr>
      <th class="right" >שם המוצר</th>
      <th class="center">נתקבל</th>
      <th class="left" > סוג הכמות לקבלה</th>
    </tr>
    </thead>

    <tbody *ngFor="let prudoct of reciveInfo | async ;let i = index">
    <tr>
      <td>
        <input type="checkbox"  id="{{prudoct.name}}"
               [(ngModel)]="radioButton[i]" (change)="checkIfAllSelected(prudoct.amount , radioButton[i], prudoct.$key);">
        <label for="{{prudoct.name}}"  class="check-box"> </label>
        <span>{{prudoct.name}}</span>
      </td>
      <td>{{prudoct.amount}} <span id="howMuchReceive" [hidden]="radioButton[i]">/  <input type="number"
                                                                                           [(ngModel)]="howManyReceive[prudoct.$key]"
                                                                                           id="{{prudoct.$key}}"
                                                                                           (change)="checkDone(i , prudoct.amount , howManyReceive[prudoct.$key]);"
                                                                                           (blur)="setPartialRecive(prudoct.$key);checkDone(i , prudoct.amount , howManyReceive[prudoct.$key]);checkIfAllSelected(prudoct.amount , radioButton[i], prudoct.$key);"
                                                                                           value="{{howManyReceive[prudoct.$key]}}"
                                                                                           ></span></td>
      <td>
        <mat-select style="order:2" [(ngModel)]="prudoct.TypeOfFillUp"
                    (change)="updateTypeOfFill(prudoct.TypeOfFillUp , prudoct.$key)">
          <mat-option *ngFor="let type of types  " [value]="type.value">
            <p>{{type.value}} </p>
          </mat-option>
        </mat-select>
      </td>
    </tr>

    </tbody>
  </table>
  <div *ngIf="(returnHistory | async)?.length > 0 " id="return">
    <span>מוצרים להחזרה</span>
    <br>
    <table class="w3-table-all">
      <thead>
      <tr
        style="      font-weight: bold; font-size:large;  font-family: Comic Sans MS, cursive, sans-serif; background-color: #26D367; color: #fafafa">
        <th class="right">שם המוצר</th>
        <th class="center"> כמות להחזרה</th>
        <th class="left" > סוג הכמות לקבלה</th>

      </tr>

      <tr *ngFor="let product of returnHistory | async  ;let i = index">
        <td>
          <span>{{product.productName}}</span>
        </td>
        <td>{{product.amount}}</td>
        <td> {{product.amount}} {{product.TypeOfFillUp}}</td>
      </tr>
      </thead>
    </table>
  </div>


  <button routerLink="/reciveOrder" (click)="updateRecive()" class="button button1" style="background-color: #26D367;">
    <span>סיים</span></button>

</div>

