@charset "utf-8";
/* CSS Document */

/* ---------- GENERAL ---------- */

body {
  background: #e5e5e5;
  color: #272727;
  font: 16px/40px "Open Sans", sans-serif;
  margin: 0;
}

h2 { margin: 0; }

hr {
  background: #5e5e5e;
  border: none;
  height: 1px;
  margin: 0;
  min-height: 1px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  height: 320px;
  left: 50%;
  margin: -160px 0 0 -152px;
  position: absolute;
  top: 35%;
  width: 304px;
}

/* ---------- To-Do-List ---------- */

.to-do-list {
  -webkit-background-size: 100% 40px;
  -moz-background-size: 100% 40px;
  background-size: 100% 40px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px   0 rgba(0,   0,   0,   0.200),
  0 3px   0 rgba(255, 255, 255, 1.0),
  0 4px   0 rgba(0,   0,   0,   0.15),
  0 6px   0 rgba(255, 255, 255, 1.0);
  font-size: 14px;
  padding: 40px 32px;
  width: 240px;
}

.to-do-list h2 {
  color: #5e5e5e;
  font-size: 28px;
  font-weight: bold;
}

.to-do-list input[type=checkbox] {
  cursor: pointer;
  position: relative;
  visibility: hidden;
}

.to-do-list input[type="checkbox"]:after {
  border: 1px solid #166B94;
  border-radius: 3px;
  color: #fff;
  content: "";
  display: block;
  height: 16px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  visibility: visible;
  width: 16px;
}

.to-do-list input[type=checkbox]:checked:after {
  border: 1px solid #979797;
  color: #979797;
  content: "✓";
}

.to-do-list input[type=checkbox]:checked + label {
  color: #979797;
  font-weight: normal;
  text-decoration: line-through;
}

.to-do-list label {
  color: #166B94;
  font-size: medium;
  font-weight: bold;
  margin-left: 12px;
}
html, body {
  height: 100%;
}

body {
  background: linear-gradient(#000 0%, #121212 100%);
}

.center-wrap {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 125px);
  width: 250px;
  height: 200px;
}

.button {
  position: relative;
  display: block;
  background: none center center no-repeat;
  background-size: cover;
  border: 2px solid #2e2e2e;
  text-transform: uppercase;
  letter-spacing: .3rem;
  padding: 20px 15px;
  text-align: center;
  max-width: 270px;
  min-width: 200px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: border 1s cubic-bezier(0.19,1,.22,1),color .6s cubic-bezier(0.19,1,.22,1);
  transition: border 1s cubic-bezier(0.19,1,.22,1), color .6s cubic-bezier(0.19,1,.22,1), background 5s cubic-bezier(0.19,1,.22,1);
}

.button a {
  color: #969696;
  font-family: 'Varela Round';
  text-decoration: none;
}

.button .mask {
  background: #fff;
  background: rgba(255,255,255,0.5);
}

.button .mask {
  position: absolute;
  display: block;
  width: 200px;
  height: 100px;
  -webkit-transform: translate3d(-120%,-50px,0) rotate3d(0,0,1,45deg);
  transform: translate3d(-120%,-50px,0) rotate3d(0,0,1,45deg);
  -webkit-transition: all 1.1s cubic-bezier(0.19,1,.22,1);
  transition: all 1.1s cubic-bezier(0.19,1,.22,1);
}

.button .shift {
  -webkit-transition: all 1.1s cubic-bezier(0.19,1,.22,1);
  transition: all 1.1s cubic-bezier(0.19,1,.22,1);
}

.button:hover {
  border-color: #fff;
  /* box-shadow: 0 0 5px rgba(255,245,245,0.8); */
  /* background-image: url('http://cuinine.com/img/codepen/savvy.jpg'); */
}

.button:hover a {
  color: #fff;
}

.button:hover .mask {
  background: #fff;
  -webkit-transform: translate3d(120%,-100px,0) rotate3d(0,0,1,90deg);
  transform: translate3d(120%,-100px,0) rotate3d(0,0,1,90deg);
}

.button:hover .shift {
  padding-left: 5px;
}
input[type=submit]{
  margin-left: 0.5em;
  height: 2.5em;
  padding: 0.2em 1em 0.2em 2.25em;
  font-size: 3em;
  font-weight: bold;
  font-family: "Open Sans";
  text-transform: uppercase;
  color: #696666;
  background: url(https://i.imgur.com/Th606mh.png) no-repeat scroll 0.75em 0.07em transparent;
  background-size: 54px 204px;
  border-radius: 2em;
  border: 0.15em solid #1d7703;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
input[type="submit"]:hover {
  color: #fff;
  background-color: #157762;
  border-color: #050348;
  background-position: 0.75em bottom;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
input[type="submit"]:focus {
  background-position: 2em -4em;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* Webfonts */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
/* Checkbox Hack */

