<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<body style="direction: rtl">

    <div class="container">

      <div class="to-do-list" >

        <h2>{{(supplier | async)?.name}}</h2>

        <hr>
        <input type="checkbox" ng-model="selectAll" />Check all?<br />

        <div *ngFor="let product of currentSupplierProducts | async ">
          <li >
            <input  id="{{product.ProductName}}" type="checkbox" ng-checked="selectAll"
                    (change)="toggleEditable(product.ProductName )">
            <label for="{{product.ProductName}}">{{product.ProductName}}</label>

          </li>
        </div>

      </div> <!-- end to-do-list -->
      <form>
        <input style="size: 100px;" routerLink="/reciveOrder" (click)="updateRecive()" value="סיים" type="submit" />
      </form>

    </div> <!-- end container -->

    </body>
