<div class="container">

<br><br>
  <form class="example-form" #bookForm="ngForm">
  <h1 data-shadow-text="Text-Shadow" style="text-align: center;font-size: x-large;font-family: 'Comic Sans MS'"> הגדרת ספק</h1>
    <md-form-field class="example-full-width">

      <input mdInput type="text" [formControl]="complexForm.controls['companyName']" #updatename value="{{(item | async)?.name}}" placeholder="שם החברה" required >
      <md-error *ngIf="companyName.invalid">{{getErrorMessage(companyName)}}</md-error>

    </md-form-field>

    <md-form-field >
      <input type="tel"  #updatePhoneNumber value="{{(item | async)?.PhoneNumber}}" mdInput placeholder="טלפון במשרד">
    </md-form-field>
    <md-form-field >
      <input mdInput  type="email" #updatemail value="{{(item | async)?.email}}" placeholder="מייל החברה" [formControl]="complexForm.controls['email']">
      <md-error *ngIf="email.invalid">{{getErrorMessage(email)}}</md-error>
    </md-form-field>

    <md-form-field >
      <input mdInput type="text"  [formControl]="complexForm.controls['buyerName']"  #updateContactName value="{{(item | async)?.ContactName}}" placeholder="שם איש הקשר לביצוע הזמנות" required>
      <md-error *ngIf="buyerName.invalid">{{getErrorMessage(buyerName)}}</md-error>

    </md-form-field>

    <md-form-field >

      <input type="tel"  [formControl]="complexForm.controls['buyerPhone']" #updateContactNum value="{{(item | async)?.ContactNum}}"  mdInput placeholder="נייד איש הקשר" required>
      <md-error *ngIf="buyerPhone.invalid">{{getErrorMessage(buyerPhone)}}</md-error>

    </md-form-field>
    <md-form-field >
      <input mdInput  type="email" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" required #updateContactEmail value="{{(item | async)?.ContactEmail}}" placeholder="מייל איש הקשר" >
    </md-form-field>

  </form>
  <label class="center-block" style="width:250px;margin-bottom:10px" >מועדי אספקה:</label>
  <div class="col-xs-12 col-sm-6 example-col">
    <div *ngFor="let day of days" class="btn-group btn-group-sm">
      <button type="button" id="{{day.itemName}}" (click)="checkDay(day.itemName  , day.id)" class="btn shadow" style="color: #22262e ;background-color: #fcf5f5">{{day.itemName}}</button>
    </div>
  </div>


    <md-select placeholder="מועדי הזמנה" [(ngModel)]="selectedWay" name="optionOrder">
      <md-option *ngFor="let option of Options " [value]="option">
       <span>{{option}}  <span> ימים לפני  </span> </span>
      </md-option>
    </md-select>
  <br>
  <md-select placeholder="סוגי הזמנה" [(ngModel)]="selectedType" >
    <md-option *ngFor="let type of typeOption " [value]="type">
      <span>{{type.viewValue}}  </span>
    </md-option>
  </md-select>


  <br> <br>
  <button [disabled]="!complexForm.valid" class="button"(click)="BuildSupplier(updatename.value,updatePhoneNumber.value,updatemail.value,updateContactName.value,updateContactNum.value,updateContactEmail.value)" style="vertical-align:middle"><span>עדכן </span></button>
</div>
