<div class="container">

  <div>
    <div class="form-style-2-heading" style="text-align: center;font-size: x-large;font-family: 'Comic Sans MS'"> כרטיס
      ספק
    </div>
    <label><span> <span class="required">*</span>קטגוריית ספק</span>
      <br>
      <div class="selectedForm">

        <mat-select placeholder="קטגוריית ספק" [(ngModel)]="selectedType">
          <mat-option *ngFor="let type of typeOption " [value]="type.viewValue">
            <span class="selectUpdate">{{type.viewValue}}  </span>
          </mat-option>
        </mat-select>
        <i class="fa fa-plus-circle fa-2x plusPos" style="margin-right: 1em;" (click)="functionOpen()"></i>
        <input #InputsecondTypeOfFillUp [hidden]="open"
               (blur)="changeCatogrey(InputsecondTypeOfFillUp.value)"
               >
      </div>
    </label>
    <form #bookForm="ngForm">
      <label><span> <span class="required">*</span>שם החברה</span>
        <input (click)="$event.target.select()" mdInput type="text" class="input-field" #updatename value="{{(item | async)?.name}}"
               placeholder="שם החברה" required></label>

      <label><span>טלפון במשרד </span>
        <input (click)="$event.target.select()" type="tel" class="input-field" #updatePhoneNumber value="{{(item | async)?.PhoneNumber}}" mdInput
               placeholder="טלפון במשרד"></label>
      <label><span>מייל החברה </span>
        <input (click)="$event.target.select()" mdInput class="input-field" type="email" #updatemail value="{{(item | async)?.email}}"
               placeholder="מייל החברה"></label>
    </form>
    <form>
      <label><span> <span class="required">*</span>שם איש הקשר </span>

        <input (click)="$event.target.select()" type="text" #updateContactName value="{{(item | async)?.ContactName}}"
               placeholder="שם איש הקשר לביצוע הזמנות" class="input-field" required></label>
      <label><span> <span class="required">*</span>נייד איש הקשר</span>

        <input (click)="$event.target.select()" mask="(999) 999-9999" type="tel" #updateContactNum
               value="{{(item | async)?.ContactNum}}" mdInput placeholder="נייד איש הקשר"
               class="input-field" required></label>
      <label><span>מייל איש הקשר </span>
        <input mdInput type="email" class="input-field"
               pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
               required #updateContactEmail value="{{(item | async)?.ContactEmail}}"
               placeholder="מייל איש הקשר"></label>
    </form>
    <br>
    <mat-slide-toggle class="comment"
                      [color]="color"
                      (change)="openSecondContactForm = !openSecondContactForm"><span
      class="comment">הוסף איש קשר נוסף לביצוע ההזמנות </span>

    </mat-slide-toggle>
    <br>

    <form>
      <div [hidden]="openSecondContactForm">
        <label class="second"><span> <span class="required">*</span>שם איש הקשר משני</span>

          <input mdInput type="text" #updateContactNameSecond value="{{(item | async)?.ContactNameSecond}}"
                 placeholder="שם איש הקשר לביצוע הזמנות" class="input-field" required></label>
        <label class="second"><span> <span class="required">*</span> נייד איש הקשר משני</span>

          <input type="tel" #updateContactNumSecond value="{{(item | async)?.ContactNumSecond}}" mdInput
                 placeholder="נייד איש הקשר" class="input-field" required></label>
        <label class="second"><span>מייל איש הקשר משני</span>
          <input mdInput type="email" class="input-field"
                 pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                 required #updateContactEmailSecond value="{{(item | async)?.ContactEmailSecond}}"
                 placeholder="מייל איש הקשר"></label>
      </div>
      <br>
    </form>
    <label><span> <span class="required">*</span>מועדי הזמנה</span>
      <br>
      <mat-select id="select" placeholder="מועדי הזמנה" [(ngModel)]="selectedWay" name="optionOrder">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let option of Options " [value]="option">
          <span class="selectUpdate">{{option}}  <span> ימים לפני  </span> </span>
        </mat-option>
      </mat-select>
    </label>
    <br>
    <br>
    <label>
      <mat-slide-toggle [color]="color"
                        class="comment" [(ngModel)]="getInWeekEnd"><span class="comment"> ללא הזמנות בשבת </span>
      </mat-slide-toggle>
    </label>

    <br><br>

    <label class="center-block" style="width:250px;margin-bottom:10px"></label>
    <label><span><span class="required">*</span>מועדי אספקה:</span></label>
    <div class="col-xs-12 col-sm-6 example-col">
      <div *ngFor="let day of days" class="btn-group ">
        <button type="button" id="{{day.itemName}}" (click)="checkDay(day.itemName ,day.id)" class="btn shadow"
                style="color: #22262e ;background-color: #fcf5f5">{{day.itemName}}
        </button>
      </div>
    </div>

    <br><br> <br> <br>

    <br>


    <button class="button" [hidden]="!update" (click)="associateProduct()"><span>סל מוצרים </span></button>
    <button class="button"
            (click)="BuildSupplier(updatename.value,updatePhoneNumber.value,updatemail.value,updateContactName.value,updateContactNum.value,updateContactEmail.value ,
            updateContactNameSecond.value,updateContactNumSecond.value,updateContactEmailSecond.value)"
            style="align-items:center;vertical-align:middle"><span>עדכן </span></button>
  </div>
</div>
