table {
  font-size: medium;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  width: 100%;

}

tbody {
}

td, th {
  border: 1px solid #dddddd;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: smaller;
  word-wrap: break-word;
  padding: 8px;

}

@media only screen and (max-width: 480px) {
  /* horizontal scrollbar for tables if mobile screen */
  .tablemobile {
    overflow-x: auto;
    display: block;
  }
}

label {
  float: right;
  font-size: 1.5rem;

}

tr:nth-child(even) {
  background-color: #f2f2f2
}

body {
  background: #9cb8b3;
}

h1 {
  font: 600 1.5em/1 'Raleway', sans-serif;
  color: rgba(16, 67, 1, 0.93);
  text-align: right;
  text-transform: uppercase;
  letter-spacing: .5em;
  position: inherit;
  top: 25%;
  width: 100%;
}

span, span:after {
  align-items: center;
  text-align: right;
  font-weight: 900;
  color: #050348;
  white-space: nowrap;
  display: inline-block;
  position: inherit;
  letter-spacing: .1em;
  padding: .2em 0 .25em 0;
}

span {
  text-align: right;
  font-size: x-large;
  z-index: 100;
  text-shadow: .04em .04em 0 #9cb8b3;
}

span:after {
  text-align: right;
  content: attr(data-shadow-text);
  color: rgba(0, 0, 0, .35);
  text-shadow: none;
  position: absolute;
  left: .0875em;
  top: .0875em;
  z-index: -1;
  -webkit-mask-image: url(https://f.cl.ly/items/1t1C0W3y040g1J172r3h/mask.png);
}

h4 {
  font-size: 1.1em;
}

.button {
  border: none;
  color: white;
  padding: 5px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  height: 100%;
  width: 100%;
  table-layout: fixed;
  font-size: 10px;

}

.button:hover {
  background-color: #979ca7
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding-right: 2em;
  text-decoration: none;
  font-size: 18px;
  color: black;
  border-radius: 10px;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.success {
  border-radius: 12px;
  width: 50%;
  background-color: #4CAF50; /* Green */
}

.danger {
  border-radius: 12px;
  width: 50%;
  background-color: #990209; /* red */
}

.deafult {
  border-radius: 12px;
  width: 50%;
  background-color: #3e94ec; /* blue */
}

.warning {
  border-radius: 12px;
  width: 50%;
  background-color: #e68a00; /* orange */
}

ul {
  maring: 0;
  padding: 0px;

  list-style: none;
}

ul li {

  padding: 10px;
  -webkit-box-shadow: 0px 0px 2px #888888;
  -moz-box-shadow: 0px 0px 2px #888888;
  box-shadow: 0px 0px 2px #888888;

}

.fixedButton {
  top: 90%;
  color: #26D367;
  position: absolute;
  left: 20px;
  font-size: 1.3em;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
  text-align: center;
}

li span {
  font-size: small;
  color: #26D367;
  margin-right: 0.5em;
  line-height: 32px;
  margin-top: 5px;
}

ul.c-controls {
  list-style: none;
  margin: 0px;
  max-height: 12px;
}

ul.c-controls li {
  margin-top: 8px;
  float: left;
}

ul.c-controls li a {
  font-size: 1.7em;
}

ul.c-controls li a i {
  min-width: 12px;
  text-align: center;
}

ul.c-controls li a:hover {
  background-color: rgba(226, 170, 234, 0.11);
}

.field {
  display: inline-block;
  width: 33%;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

#enterDetails {
  font-size: medium;
  border-bottom: 1px solid;
  text-align: center;
  border-collapse: separate;
  padding: 15px;

}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.required {
  color: red;
}

.btn {
  background-color: #26D367;
  border-radius: 6px;
  text-align: center;
  color: #fafafa;
  margin-right: 50%;
  margin-top: 10%;
}

#sent {
  color: #26D367;
  font-size: x-small;
}

#notSentYet {
  color: red;
  font-size: x-small;
}

input {
  width: 10em;
  font-size: 1.5rem;

}

.ui.tabular.menu .item {
  max-width: 32vw;
  font-size: 1.5rem;
}

.mat-select {
  margin-right: 80em;
  font-size: 1.5rem;

}

button {
  /* border-radius: 0; */
  max-width: 82vw;
}

.mat-select {
  margin-right: -133em;
  font-size: 1.5rem;
  display: -ms-inline-flexbox;
  margin-top: 1em;
}
