<div class="container"  style="direction: rtl; text-align: center;">
<br><span class="span1" data-shadow-text="Text-Shadow" >החזרת סחורה  </span>    <i style="color: #22262e" class="fa fa-shopping-basket w3-xxlarge" aria-hidden="true"></i>
  <i style="color: #22262e" class="fa fa-arrow-left w3-xxlarge" aria-hidden="true"></i>
  <br> <br>

  <div style="direction: rtl; text-align: right" class="container">
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>שם הספק</th>
    <th>שם המוצר</th>
    <th>כמות</th>
    <th>סיבת ההחזרה</th>
    <th>מועד החזרה רצוי</th>
    <th>צורת אריזה</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let  field of fieldArray  ; let i = index">
    <td>
      <input style="order:0" [(ngModel)]="field.supplierName" class="form-control" type="text" name="{{field .supplierName}}" />
    </td>
    <td>
      <input style="order:1" [(ngModel)]="field.productName" class="form-control" type="text" name="{{field.productName}}" />
    </td>
    <td>
      <input style="order:2" [(ngModel)]="field.amount"  class="form-control" type="text" name="{{field.amount}}"  />
    </td>
    <td>
    <input style="order:3" [(ngModel)]="field.reason" class="form-control" type="text" name="{{field.reason}}" />
  </td>
    <td>
      <input style="order:4" [(ngModel)]="field.returnDay" class="form-control" type="text" name="{{field.returnDay}}" />
    </td>
<td><h5>{{field.TypeOfFillUp}}</h5></td>

    <td>
      <button style="order:0" class="btn btn-default"  type="button" (click)="deleteFieldValue(i)">מחק </button>
    </td>
  </tr>
  <tr>
    <td>
      <mat-select style="order:1"  [(ngModel)]="selectedSupplier" >
        <mat-option *ngFor="let type of list " (click)="changeProductSelectors()" [value]="type">
          <p>{{type.itemName}}  </p>
        </mat-option>
      </mat-select>
    </td>

    <td>
      <mat-select style="order:2"  [(ngModel)]="selectedProduct" >
        <mat-option (click)="updateProductKeyAndTypeOfFillUp(product.$key , product.TypeOfFillUp )"*ngFor="let product of productsSuppliers | async " [value]="product">
          <p>{{product.ProductName}}  </p>
        </mat-option>
      </mat-select>
    </td>
    <td>

      <input style="order:3" class="form-control" type="number" id="newAttributePrice" [(ngModel)]="newAttribute.amount" name="newAttributeAmount" />
    </td>
    <td>
      <input style="order:4"  class="form-control" type="text" id="newAttributeResons" [(ngModel)]="newAttribute.reason" name="newAttributeReason" />
    </td>
    <td>
      <mat-select style="order:5"  [(ngModel)]="selectedReturnDay" >
        <mat-option *ngFor="let product of returnsDays | async " [value]="product">
          <p>{{product.itemName}}  </p>
        </mat-option>
      </mat-select>
    </td>
    <td></td>
    <td>
      <button class="btn btn-default" type="button" (click)="addFieldValue()">הוסף מוצר להחזרה</button>
    </td>

  </tr>
  </tbody>
</table>
</div>
</div>
