<div class="container"  style="direction: rtl; text-align: center;">
<br><span data-shadow-text="Text-Shadow" >קבלת סחורה</span>  <i class="fa fa-truck w3-xxxlarge" style="color: #22262e;"></i><br>

  <div >
    <div [ngSwitch]=day style="text-align: center">
      <h1 *ngSwitchCase=0>    קבלת סחורה יום ראשון  </h1>
      <h1 *ngSwitchCase=1>    קבלת סחורה יום שני  </h1>
      <h1 *ngSwitchCase=2>    קבלת סחורה יום שלישי  </h1>
      <h1 *ngSwitchCase=3>    קבלת סחורה יום רביעי  </h1>
      <h1 *ngSwitchCase=4>    קבלת סחורה יום חמישי  </h1>
      <h1 *ngSwitchCase=5>    קבלת סחורה יום שישי  </h1>
      <h1 *ngSwitchCase=6>    קבלת סחורה יום שבת  </h1>
    </div>

  <div  >
    <div *ngFor="let supplier of supplierFounded " >
      <button (click)="todoListNavigation(supplier )" class="button"
              [class.success]=" time <= 9" [class.warning]=" time <= 12 && time > 9"
              [class.danger]="time > 12">{{ (supplier | async)?.name }} </button>

    </div>
  </div>
</div>
</div>

