
<div class="container"  style="direction: rtl; text-align: center;">
<br><span data-shadow-text="Text-Shadow" >קבלת סחורה </span>  <i class="fa fa-truck w3-xxxlarge" style="color: #22262e;"></i><br>

  <div >
    <div [ngSwitch]=day style="text-align: center">
      <h1 *ngSwitchCase=0>     ראשון  </h1>
      <h1 *ngSwitchCase=1>     שני  </h1>
      <h1 *ngSwitchCase=2>     שלישי  </h1>
      <h1 *ngSwitchCase=3>    רביעי  </h1>
      <h1 *ngSwitchCase=4>     חמישי  </h1>
      <h1 *ngSwitchCase=5>     שישי  </h1>
      <h1 *ngSwitchCase=6>     שבת  </h1>
    </div>
    <div >
      <div  [hidden]=" !allSupplierFinishe ">
        <h2 style="font-size: x-large; color: #4CAF50;"> כל הכבוד , קיבלת את כל הסחורה להיום. </h2>
      </div>
      <div class="tab" [hidden]=" allSupplierFinishe ">
        <input id="tab-one" type="checkbox" name="tabs" [(ngModel)]="show"/>
        <label for="tab-one">  קבלת סחורה  </label>
        <div class="tab-content">
          <div *ngFor="let supplier of reciveNONEComplete " >
            <button  (click)="todoListNavigation(supplier )" class="button"
                     [class.success]=" time <= 9" [class.warning]=" time <= 12 && time > 9"
                     [class.danger]="time > 12">{{ (supplier | async)?.name }} </button>

          </div>
        </div>
      </div>
      <div class="tab">
        <input id="tab-two" type="checkbox" name="tabs">
        <label for="tab-two">  קבלת סחורה שהושלמה  </label>
        <div class="tab-content">
          <div *ngFor="let supplier of reciveComplete " [hidden]=" !someSupplierFinish ">
            <button  class = "button success"(click)="todoListNavigation(supplier )">
              {{ (supplier | async)?.name }} </button>
          </div>
            <div [hidden]=" someSupplierFinish ">
              <h2 style="font-size: x-large; color: rgba(180,0,4,0.83);"> עוד לא קיבלתי סחורה להיום.. </h2>
            </div>
        </div>
      </div>
    </div>

  </div>

  </div>

