<h1 style="text-align: center"> קבלת סחורה</h1>

<div style="text-align: right">
  <div [ngSwitch]=day style="text-align: center">
    <h2 *ngSwitchCase=0>     יום ראשון  </h2>
    <h2 *ngSwitchCase=1>    יום שני  </h2>
    <h2 *ngSwitchCase=2>     יום שלישי  </h2>
    <h2 *ngSwitchCase=3>     יום רביעי  </h2>
    <h2 *ngSwitchCase=4>     יום חמישי  </h2>
    <h2 *ngSwitchCase=5>     יום שישי  </h2>
    <h2 *ngSwitchCase=6>     יום שבת  </h2>
  </div>

  <div class="container" style="text-align: right">
  <div *ngFor="let supplier of supplierFounded " >
    <a style="color: #2ecc71"
       class="list-group-item " (click)="todoListNavigation(supplier )" > {{ (supplier | async)?.name }}</a>

  </div>
</div>
</div>


