<h3>מוצרים</h3>
<input type="text" (keyup)="search($event)" placeholder="Search.." class="input">

<ul>
  <li *ngFor="let Product of products">
    <button class="button button1" md-raised-button (click)="openDialog(Product.$key)">{{Product.ProductName}}</button>
</li>
</ul>

<button md-fab>
  <i class="material-icons" (click)="addItem()">add</i>
</button>

<button md-fab>
  <i class="material-icons"  (click)="deleteEverything()">delete</i>
</button>
<!-- the place holder for all modals that will be opened -->
<button md-fab>
  <i class="material-icons"  (click)="showListOfAllDB()">list</i>
</button>

