<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:right">

  <div ng-If="registeredUser == true" class="icon-bar" >
    <a routerLink="/supplier" routerLinkActive="active">רשימת ספקים</a>
    <a routerLink="/correctSupplierProducts" routerLinkActive="active">המוצרים שלי</a>
    <a routerLink="/order" routerLinkActive="active">הזמנות</a>

    <a *ngIf="!(user | async)?.uid" (click)="linkGoogle()">התחברות</a>
    <a *ngIf="(user | async)?.uid" (click)="logout()" >
      <span >יציאה</span>
    </a>
  </div>


  <router-outlet></router-outlet>

</div>

