<header>
<div class="header">
  <h1 class="header_logo" style=" font-family: Brush Script MT" >SupplyME</h1>
</div>
</header>
<input type="checkbox" id="navcheck" role="button" title="menu" style="color: #22262e;">
  <label for="navcheck" aria-hidden="true" title="menu">
    <span class="burger">
		<span class="bar">
			<span class="visuallyhidden" >supplyME</span>
		</span>
	</span>
  </label>
  <nav id="menu">

      <a  *ngIf="(user | async)?.uid" style="text-align: left;color: #f7ffea
    ; font-family: 'Copperplate Gothic Light'">שלום {{userName}}  </a>
    <a  routerLink="/home" routerLinkActive="active"><b class="nav-text" style="font-size: x-large"> SupplyME </b></a>
    <a  *ngIf="(user | async)?.uid" routerLink="/homeAfterLogin" routerLinkActive="active"><i class="fa fa-home"></i><b class="nav-text"> בית </b></a>
    <a  *ngIf="(user | async)?.uid" routerLink="/supplier" routerLinkActive="active"><i class="fa fa-users"></i><b class="nav-text"> רשימת ספקים  </b></a>
    <a  *ngIf="(user | async)?.uid" routerLink="/order" routerLinkActive="active"><i class="fa fa-shopping-cart"></i><b class="nav-text"> הזמנות </b></a>
    <a  *ngIf="(user | async)?.uid" routerLink="/reciveOrder" routerLinkActive="active"><i class="fa fa-truck"></i><b class="nav-text"> קבלת סחורה </b></a>
    <a  *ngIf="(user | async)?.uid" routerLink="/correctSupplierProducts" routerLinkActive="active"><i class="fa fa-cog"></i><b class="nav-text"> הגדרות </b></a>
    <a  *ngIf="!(user | async)?.uid" routerLink="/home" routerLinkActive="active"><i class="fa fa-info"></i><b class="nav-text"> עוד עלינו </b></a>
    <a  routerLink="/homeAfterLogin" *ngIf="!(user | async)?.uid" (click)="linkGoogle()"><i class="fa fa-sign-in"></i><b> התחבר </b></a>
    <a  routerLink="/home" *ngIf="(user | async)?.uid" (click)="logout()" ><i class="fa fa-power-off"></i><b> התנתק </b>
    </a>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
