
<div class="header">
  <h1 class="header_logo">supplyME</h1>
</div>

<input type="checkbox" id="navcheck" role="button" title="menu" style="color: #22262e;">
  <label for="navcheck" aria-hidden="true" title="menu">
    <span class="burger">
		<span class="bar">
			<span class="visuallyhidden" ></span>
		</span>
	</span>
  </label>
  <nav id="menu">
    <a routerLink="/homeAfterLogin" routerLinkActive="active"><b class="nav-text" style="font-size: large"> SupplyME </b></a>
    <a routerLink="/home" routerLinkActive="active"><i class="fa fa-home"></i><b class="nav-text"> בית </b></a>
    <a routerLink="/supplier" routerLinkActive="active"><i class="fa fa-users"></i><b class="nav-text"> רשימת ספקים  </b></a>
    <a routerLink="/order" routerLinkActive="active"><i class="fa fa-shopping-cart"></i><b class="nav-text"> הזמנות </b></a>
    <a routerLink="/reciveOrder" routerLinkActive="active"><i class="fa fa-truck"></i><b class="nav-text"> קבלת סחורה </b></a>
    <a routerLink="/correctSupplierProducts" routerLinkActive="active"><i class="fa fa-cog"></i><b class="nav-text"> הגדרות </b></a>
    <a *ngIf="!(user | async)?.uid" (click)="linkGoogle()"><i class="fa fa-power-on"></i><b> התחבר </b></a>
    <a routerLink="/home" *ngIf="(user | async)?.uid" (click)="logout()" ><i class="fa fa-power-off"></i><b> התנתק </b>
    </a>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
