<div>
  <div class="wrapper">
    <div class="container">
      <div class="typewriter">
        <h1>אישור </h1>
        <h1> הזמנתכם </h1>
        <h1>נקלט !</h1>
        <h3>בתודה supplyMe</h3>

      </div>
      <br><br>
      <p style="color: #fafafa " routerLink="/loginPage">SupplyME</p>
    </div>
    <ul class="bg-bubbles">
      <li><img src="../../assets/logoWithOutBackground.png"></li>
      <li></li>
      <li></li>
      <li><img src="../../assets/logoWithOutBackground.png"></li>
      <li><img src="../../assets/logoWithOutBackground.png"></li>
      <li></li>
      <li></li>
      <li><img src="../../assets/logoWithOutBackground.png"></li>
      <li></li>
      <li><img src="../../assets/logoWithOutBackground.png"></li>
    </ul>


  </div>
</div>
