
<div style="text-align:right">
  <h2 style="text-align: center; color: #000000;     padding: 0px 20px 0px 0px;"> הספקים שלי  </h2>
  <button id="fixedSort" (click)="sortList()"><i style="color: #000000;" class="fa fa-sort-alpha-desc fa-2x" aria-hidden="true"></i></button>
  <input type="text" id="myInput" (keyup)="search()" placeholder=" חפש לפי שם הספק.." >

  <ul id="myUL" >
    <li *ngFor="let item of items | async" (click)="associateProduct(item.$key)" >    <button style="float: left;color: red;" ><i class="fa fa-trash-o fa-2x " aria-hidden="true"></i></button>
      <a >
        <div id="icon">
        <span   *ngIf="item.type == 'אוכל'" class="fa fa-cutlery " aria-hidden="true"></span>
        <span  *ngIf="item.type == 'חלב'"  class="fa fa-coffee " aria-hidden="true"></span>
        <span  *ngIf="item.type == 'בשר'"  class="fa fa-cutlery " aria-hidden="true"></span>
        <span  *ngIf="item.type == 'משקאות חריפים'" class="fa fa-beer " aria-hidden="true"></span>
        <span  *ngIf="item.type == 'שתייה'" class="large material-icons ">local_drink</span>
        <span  *ngIf="item.type == 'משקאות'"  class="large material-icons ">local_drink</span>
        <span  *ngIf="item.type == 'ירקות'"   class="fa fa-apple " aria-hidden="true"></span>
        </div>
        <h4 id="name">{{item.name}} </h4>
      </a>
    </li>
  </ul>

  <span id ="fixedButton" (click)="addItem()" class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
  </span>

  <!--
    <button md-fab>
      <i class="material-icons"  (click)="deleteEverything()">delete</i>
    </button>
  -->
  <!-- the place holder for all modals that will be opened -->
</div>
