<div class="container"  style="direction: rtl;" >
  <br><br>
  <h1 style="text-align: center">הספקים שלי</h1>
</div>



<div>
  <ul>
    <li *ngFor="let item of items | async">
      <div  >
        <br>
        <a (click)="openDialogShowSupplier(item.$key)" class="button">{{item.name}}</a>
      </div>
    </li>
  </ul>
</div>
<div style="direction: rtl">
  <a class="btn btn-danger"  aria-label="Delete">
    <i class="fa fa-trash-o fa-2x" aria-hidden="true" (click)="deleteEverything()"></i>
  </a>
  <a class="btn btn-primary" href="#navigation-main" aria-label="Skip to main navigation">
    <i class="fa fa-plus fa-2x" aria-hidden="true" (click)="addItem()"></i>
  </a>

</div>
