<button md-fab>
    <i class="material-icons" (click)="closeDialog()">close</i>
  </button>


 <div class="container">

   <div class="card-profile">
     <div class="card-profile_visual"></div>

     <div class="card-profile_user-infos">

       <span class="infos_name">חברה {{ (infoSupply | async)?.name }}  </span>
       <span class="infos_nick"> איש קשר {{ (infoSupply | async)?.ContactName }} </span>

       <a class="button button5" (click)="associateProduct()"><i style="margin: auto; display: block;" class="fa fa-sign-in fa-3x fa-fw"></i></a>
     </div>

     <div class="card-profile_user-stats">
       <div class="stats-holder">
         <div class="user-stats">
           <strong>חברה</strong>
           <span>{{ (infoSupply | async)?.PhoneNumber }}</span>
         </div>
         <div class="user-stats">
           <strong>איש קשר</strong>
           <span>{{ (infoSupply | async)?.ContactNum }}</span>
         </div>
         <div class="user-stats">
           <strong>סוג</strong>
           <span>{{ (infoSupply | async)?.type }}</span>
         </div>
       </div>
     </div>
   </div>
 </div>

<div >
  <button md-fab>
    <i class="material-icons" (click)="editSupplier()">update</i>
  </button>
  <button md-fab>
    <i class="material-icons" (click)="deleteItem()">delete</i>
  </button>
</div>

