 <div class="container" style="direction: rtl">
   <div class="card-profile">
     <div class="card-profile_visual"></div>

     <div class="card-profile_user-infos">

       <span class="infos_name">חברה {{ (infoSupply | async)?.name }}  </span>
       <span class="infos_nick"> איש קשר {{ (infoSupply | async)?.ContactName }} </span>

       <a class="button button5" (click)="associateProduct()"><i style="margin: auto; display: block;" class="fa fa-list fa-3x fa-fw"></i></a>
     </div>

     <div class="card-profile_user-stats">
       <div class="stats-holder">
         <div class="user-stats">
           <strong>חברה</strong>
           <span>{{ (infoSupply | async)?.PhoneNumber }}</span>
         </div>
         <div class="user-stats">
           <strong>איש קשר</strong>
           <span>{{ (infoSupply | async)?.ContactNum }}</span>
         </div>
         <div class="user-stats">
           <strong>סוג</strong>
           <span>{{ (infoSupply | async)?.type }}</span>
         </div>
       </div>
     </div>
     <div style="direction: rtl">
       <a class="btn btn-danger"  aria-label="Delete">
         <i class="fa fa-trash-o fa-2x" aria-hidden="true" (click)="deleteItem()"></i>
       </a>
       <a class="btn btn-default" aria-label="Settings">
         <i class="fa fa-upload fa-2x" aria-hidden="true" (click)="editSupplierPage()"></i>
       </a>
     </div>

   </div>
 </div>


