<div dir="rtl" class="container">
  <div class="form-style-2-heading">
    <h2 style="text-align: center" [hidden]="!(!this.updateStatus && !this.undifineCheck)"> הגדרת מוצר </h2>
    <h2 style="text-align: center" [hidden]="!this.updateStatus && !this.undifineCheck"> עדכון מוצר -{{(item |
      async)?.ProductName}} </h2>
  </div>

  <div>
    <div>
      <form>
        <label>
          <div class="input-group">

            <h5><span class="required">*</span> שם המוצר</h5>
            <input mdInput class="input-field" value="{{(item | async)?.ProductName}}" type="text" #ProductName
                   id="ProductName" name="ProductName" placeholder="שם המוצר"
                   (blur)="onKeyName(ProductName.value)" (keyup)="search($event);onKeyName(ProductName.value)" required>
          </div>
        </label>
        <mat-option *ngFor="let product of products" [value]="product.ProductName">
          <p (click)="changename(product.ProductName)">{{ product.ProductName }}</p> |
        </mat-option>
        <div class="option">

          <h5 class=" select"> יח' מידה&nbsp;</h5>
          <mat-select placeholder="יח' מידה" [(ngModel)]="UnitOfMeasure" name="UnitOfMeasure">
            <mat-option *ngFor="let unit of unitOFMeasurementOption" [value]="unit.value">
              {{ unit.viewValue }}
            </mat-option>
          </mat-select>
        </div>
      </form>
      <form>
        <label>
          <h5> גודל יחידה&nbsp; </h5>
          <div class="input-group suffix">
            <input mdInput type="number" value="{{(item | async)?.sizeUnitPackaging}}" #sizeUnitPackaging
                   (blur)="onKeySizeUnitPackaging(discount.value)" name="ProductName">
            <span class="input-group-addon ">{{UnitOfMeasure}}</span>
          </div>
        </label>
        <div class="option">
          <h5 class=" select"> צורת אריזה&nbsp; </h5>
          <mat-select placeholder="צורת אריזה" [(ngModel)]="TypeOfFillUp" name="TypeOfFillUp">
            <mat-option *ngFor="let option of options" [value]="option.value">
              {{ option.viewValue }}
            </mat-option>
          </mat-select>
        </div>
      </form>
      <form>
        <label>
          <h5> כמות במארז&nbsp; </h5>

          <div class="input-group suffix">
            <input mdInput type="number" value="{{(item | async)?.UnitInPackaging}}" #UnitInPackaging required
                   (blur)="onKeyUnitInPackaging(UnitInPackaging.value)" name="UnitInPackaging">
            <span class="input-group-addon">{{TypeOfFillUp}}</span>
          </div>
        </label>
        <label>
          <h5> מחיר </h5>

          <div class="input-group presuffix">
            <input mdInput type="number" pInputText value="{{(item | async)?.price}}" placeholder="מחיר" #price
                   (blur)="onKeyPrice(price.value)" required name="ProductName">
            <span class="input-group-addon suffix">₪/{{UnitOfMeasure}}</span>
          </div>
        </label>
        <label>
          <h5> הנחה </h5>

          <div class="input-group presuffix">
            <input mdInput type="number" pInputText value="{{(item | async)?.discount}}" placeholder="הנחה" #discount
                   (blur)="onKeyDiscount(discount.value)" name="ProductName">
            <span class="input-group-addon suffix">% </span>
          </div>
        </label>
        <div class="option">
          <h5 class=" select"> מבצע&nbsp; </h5>
          <mat-select placeholder="מבצע" [(ngModel)]="saleProduct" name="saleProduct">
            <mat-option *ngFor="let option of sales" [value]="option.value">
              {{ option.viewValue }}
            </mat-option>
          </mat-select>
        </div>
      </form>
      <!--
          <section class="example-section" dir="rtl">
            <md-checkbox class="example-margin" [(ngModel)]="privateProduct">מוצר פרטי</md-checkbox>
          </section>
      -->
      <section >
        <mat-slide-toggle [(ngModel)]="depositCchecked"

                          [color]="color"
                          [checked]="depositCchecked"
                          [disabled]="disabled">
          <span>כולל החזרת פיקדון?</span>
        </mat-slide-toggle>
      </section>

      <label [hidden]="!depositCchecked">
        <h5> פיקדון </h5>

        <div class="input-group presuffix">
          <input mdInput type="number" pInputText value="{{(item | async)?.depositPrice}}" placeholder="עלות הפיקדון"
                 #depositPrice (blur)="onKeyDepositPrice(depositPrice.value)" name="depositPrice">
          <span class="input-group-addon suffix">אג'</span>
        </div>
      </label>
      <br>
      <label>
        <mat-slide-toggle
                          [color]="color"
                          [(ngModel)]="showhidepregnant"> קבע מצבה להשלמה ביום ההזמנה <span
          class="required">*</span></mat-slide-toggle>
      </label>
      <form>

        <div *ngIf="showhidepregnant">
          <label>
            <span style="color: red;font-size: x-small"> נא מלא את כל השדות </span>
            <div class="input-group presuffix" *ngFor="let day of dateCurrectSupplirer ; let i = index">
              <h5 style="font-size: small;text-align: right;"> להזמנה ביום {{day.itemName}}: <h6
                style="font-size: xx-small;text-align: right;">וקבלה ביום {{day.itemNameOrder}}:</h6></h5>
              <div class="input-group presuffix"> השלם ל
                <input style="border-radius: 10px" placeholder="מצבה במלאי" id="{{day.id}}" type="number" #input
                       value="{{days[day.id]}}" (keyup)="modifyDays(day.id , day.orderIn, input.value)"
                       name="MinInInventory" required>
                <span class="input-group-addon suffix"> {{TypeOfFillUp}}  </span>
              </div>
            </div>
          </label>

        </div>
      </form>
    </div>
    <a class="btn btn-success" [hidden]="!(!this.updateStatus && !this.undifineCheck)"
       (click)="BuildProductForAllDB(discount.value , price.value , UnitInPackaging.value , sizeUnitPackaging.value , ProductName.value ,depositPrice.value )">
      <i class="fa fa-check-square"></i> הוסף </a>
    <a class="btn btn-success" [hidden]="!this.updateStatus && !this.undifineCheck"
       (click)="BuildProductForAllDB(discount.value , price.value , UnitInPackaging.value , sizeUnitPackaging.value , ProductName.value ,depositPrice.value )">
      <i class="fa fa-check-square"></i> עדכן </a>
    <a class="btn btn-danger " (click)="deleteItem()" style="align-items:flex-start;"
       [hidden]="!this.updateStatus && !this.undifineCheck">
      <i class="fa fa-trash-o fa-lg"></i> מחק </a>
  </div>
</div>
