<div class="container" style="direction: rtl; text-align: center;">
  <div>
    <div style="text-align:center">
      <br><span style="  color: #050348;" data-shadow-text="Text-Shadow"> המוצרים של {{(supplierName |
    async)?.name}} </span> <br>
      <span *ngIf="(productsInCurrectSupplier | async)?.length > 0" id="newSupplierButton" class="button"
            (click)="addItem()">
    <button> הוסף מוצר </button>
  </span>
    </div>
    <div #loading id="loader"
         *ngIf="(items | async)?.length == 0;  else start ; ">
      <div id="shadow"></div>
      <div id="box"></div>
    </div>

    <div style="text-align:right">
      <button id="fixedSort" (click)="sortList()"><i style="color: #26D367;" class="fa fa-sort-alpha-desc fa-2x"
                                                     aria-hidden="true"></i></button>
      <input style="border-radius: 10px; text-align: center" type="text" id="myInput" (keyup)="search()"
             placeholder=" חפש לפי שם מוצר">
      <img id="imgSearch" src="../../assets/search.png">
      <ul id="myUL">
        <table class="tableShow">
          <tr>
            <th>שם מוצר</th>
            <th>מחיר/יח'</th>
            <th>כמות/מארז משני</th>
            <th>כמות/מארז כולל</th>
            <th>סהכ</th>

          </tr>
        </table>
        <div *ngFor="let Product of productsInCurrectSupplier | async | sortProducts">
          <div style="float: left;top: 0.9em;" class="ui dropdown" suiDropdown>
            <div><i class="fa fa-ellipsis-v fa-2x ellipsis"></i>
            </div>
            <div class="menu" suiDropdownMenu>
              <button style="float: left;color: red;" suiPopup [popupTemplate]="popupTemplate"
                      popupTrigger="outsideClick"><i
                class="fa fa-trash-o fa-4x " aria-hidden="true"></i></button>
              <ng-template let-popup #popupTemplate>
                <i class="fa fa-exclamation-triangle fa-4x" style="color: orange; border-radius: 5px"></i>
                <h3> אתה עומד למחוק את : {{item.name}} אתה בטוח?</h3>
                <i class="fa fa-check-circle fa-4x " (click)="popup.close(); deleteItem(item.$key)"
                   style="color: green; border-radius: 5px;"> </i>
                <i class="fa fa-times-circle fa-4x" (click)="popup.close()"
                   style="color: red; border-radius: 5px; margin-right: 3.7em;"></i>
              </ng-template>
            </div>
          </div>

          <table class="tableShow">
            <ng-template let-popup #popupTemplate>
              <div *ngFor="let day of Product.MinInInventory" class="content">
                <span> {{day}}</span>
              </div>
            </ng-template>

            <tr (click)="openDialogShowProducts(Product.$key)" suiPopup [popupTemplate]="popupTemplate"
                popupTrigger="outsideClick" style="background-color: #e9ffed;border-radius: 12px">
              <td>{{Product.ProductName}}</td>
              <td>{{Product.price}}₪ ל{{Product.UnitOfMeasure}}</td>
              <td> {{Product.sizeUnitPackaging}} {{Product.UnitOfMeasure}}</td>
              <td>{{Product.UnitInPackaging}} {{Product.UnitOfMeasure}}</td>
              <td> {{Product.priceSum}}₪</td>
            </tr>
          </table>


          <a (click)="openDialogShowProducts(Product.$key)">
            <h4 id="name">{{Product.ProductName}} </h4></a>
          <!-- <span style="font-size:x-small; text-align: center; float: left; color: #22262e;">{{Product.price}}₪ /{{Product.TypeOfFillUp}} </span> -->
        </div>
        <div *ngIf="(productsInCurrectSupplier | async)?.length === 0">
          <h3 style=" color: #777;     padding: 0px 20px 0px 0px;">
            אין מוצרים כרגע נא הוסף מוצרים
            <button (click)="addItem()" class="button" style="vertical-align:middle" (click)="save()">הוסף מוצר ראשון
            </button>
          </h3>

        </div>

      </ul>
      <span *ngIf="(productsInCurrectSupplier | async)?.length > 0" class="fixedButton" (click)="addItem()">
      <div class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
     </div>
    </span>
      <!--
        <button md-fab>
          <i class="material-icons"  (click)="deleteEverything()">delete</i>
        </button>
      -->
      <!-- the place holder for all modals that will be opened -->
    </div>
  </div>
</div>
