<div style="text-align:right">
  <h2 style="text-align: center; color: #22262e;     padding: 0px 20px 0px 0px;"> המוצרים של {{(supplierName | async)?.name}} </h2>

  <input style="border-radius: 10px;text-align: center" type="text" id="myInput" (keyup)="search()" placeholder=" חפש לפי שם הספק" >
  <img id="imgSearch"src="../../assets/search.png">

  <ul id="myUL">
    <li *ngFor="let Product of productsInCurrectSupplier | async " >
      <div id="list" suiPopup popupText="{{Product.pricePerUnit}}₪ ל{{Product.UnitOfMeasure}} , {{Product.secondUnitInPackaging}} {{Product.secondTypeOfFillUp}}
         ,  {{Product.UnitInPackaging}} {{Product.TypeOfFillUp}} - סהכ: {{Product.price}}₪" popupInverted
           [popupPlacement]="position"(click)="openDialogShowProducts(Product.$key)" style="background-color: #e9ffed;border-radius: 12px" >
        <h3 style=" color: #22262e;     padding: 0px 20px 0px 0px;">{{Product.ProductName}}         </h3>
<!-- <span style="font-size:x-small; text-align: center; float: left; color: #22262e;">{{Product.price}}₪ /{{Product.TypeOfFillUp}} </span> -->
        </div>
    </li>
  </ul>
  <span class ="fixedButton" (click)="addItem()" >
      <div class="fa-stack fa-lg" >
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
     </div>
    </span>
  <!--
    <button md-fab>
      <i class="material-icons"  (click)="deleteEverything()">delete</i>
    </button>
  -->
  <!-- the place holder for all modals that will be opened -->
</div>
