<h2 style="text-align:center">הרשמה לשירות</h2>
<p style="text-align:center">הזמנה מספק בלחיצת כפתור</p>

<div class="columns">
  <ul class="price">
    <li class="header">basic</li>
    <li class="grey">₪  500 / year</li>
    <li>מוצרים מהמלאי הכולל</li>
    <li>פרסומות</li>
    <li>פתיחת משתמש יחיד</li>
    <li>פתירת תקלות בתוספת תשלום </li>
    <li class="grey"><a href="#" class="button">הרשם</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header" style="background-color:#3e94ec">pro</li>
    <li class="grey">₪  1000 / year</li>
    <li>מוצרים מהמלאי הכולל</li>
    <li>פרסומות מותאמות אישית</li>
    <li>עד 3 משתמשים חדשים</li>
    <li>זמינות בינונית</li>
    <li class="grey"><a href="#" class="button">הרשם</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header">Premium</li>
    <li class="grey">₪  2000 / year</li>
    <li>מוצרים פרטיים</li>
    <li>ללא פרסומות</li>
    <li>פתיחת משתמשים ללא הגבלה</li>
    <li>זמינות 24/7 לתקלות</li>
    <li class="grey"><a href="#" class="button">הרשם</a></li>
  </ul>
</div>

