<div class="container" style="text-align: center">
<br><span class="span1" data-shadow-text="Text-Shadow" > סטיסטיקות  </span>    <i style="color: #22262e" class="fa  fa-pie-chart w3-xlarge" aria-hidden="true"></i>
</div>
<sui-accordion class="styled fluid">
  <sui-accordion-panel >
    <div title>
      <i class="dropdown icon"></i>
      <h1>מעקב אחרי פריט בודד</h1>
    </div>
    <div content class="content">
      <label> תאריך התחלה</label>

      <input type="date" #fromDate [ngModel]="fromDate" placeholder="הכנס תאריך התחלה" (change)="changeFromDate(fromDate.value)">
      <label> תאריך סיום</label>

      <input type="date" #toDate [ngModel]="toDate" placeholder="הכנס תאריך סיום" (change)="changeToDate(toDate.value)">
        <span class="required">*</span>שם הספק
          <mat-select style="order:1"  [(ngModel)]="selectedSupplier" >
            <mat-option *ngFor="let type of list " (click)="changeProductSelectors()" [value]="type">
              <p>{{type.itemName}}  </p>
            </mat-option>
          </mat-select>
       <span class="required">*</span>שם המוצר
          <mat-select style="order:2"  [(ngModel)]="selectedProduct" >
            <mat-option (click)="updateProductKeyAndTypeOfFillUp(product.$key , product.TypeOfFillUp , product.ProductName )"*ngFor="let product of productsSuppliers | async " [value]="product">
              <p>{{product.ProductName}}  </p>
            </mat-option>
          </mat-select>
      <button class="button button1 " (click)="pageDimmed1 = !pageDimmed1; detrmineRadar();" >מצא</button>
    </div>
  </sui-accordion-panel>
  <sui-accordion-panel>
    <div title>
      <i class="dropdown icon"></i>
      <h1>מעקב אחרי כלל הספקים</h1>
    </div>
    <div content>
      <label> תאריך התחלה</label>

      <input type="date" #fromAll  placeholder="הכנס תאריך התחלה" (change)="changeFromDateAll(fromAll.value)">

      <label> תאריך סיום</label>
      <input type="date" #toAll  placeholder="הכנס תאריך סיום" (change)="changeToDateAll(toAll.value)">

      <button class="button button1 " (click)=" pageDimmed2 = !pageDimmed2; getAllSupplierNames();">מצא</button>

    </div>
  </sui-accordion-panel>
  <sui-accordion-panel>
    <div title>
      <i class="dropdown icon"></i>
      <h1>מעקב אחרי ספק ספיציפי</h1>
    </div>
    <div content>
      <label> תאריך התחלה</label>
      <input type="date" #fromDatespesificSupplier  placeholder="הכנס תאריך התחלה" (change)="changeFromDatespesificSupplier(fromDatespesificSupplier.value)">
      <label> תאריך סיום</label>
      <input type="date" #toDatespesificSupplier  placeholder="הכנס תאריך סיום" (change)="changeToDatespesificSupplier(toDatespesificSupplier.value)">
      <span class="required">*</span>שם הספק
      <mat-select style="order:1"  [(ngModel)]="spesificSupplier" >
        <mat-option *ngFor="let type of list " (click)="pageDimmed3 = !pageDimmed3;createSpesificSupplier()" [value]="type">
          <p>{{type.itemName}}  </p>
        </mat-option>
      </mat-select>



    </div>
  </sui-accordion-panel>
  <sui-accordion-panel>
    <div title>
      <i class="dropdown icon"></i>
      <h1>השוואה בין ספקים</h1>
    </div>
    <div content>
      <label> תאריך התחלה</label>
      <input type="date" #fromCompareSupplier  placeholder="הכנס תאריך התחלה" (change)="changeFromDatefromCompareSupplier(fromCompareSupplier.value)">
      <label> תאריך סיום</label>
      <input type="date" #toCompareSupplier  placeholder="הכנס תאריך סיום" (change)="changeFromDatetoCompareSupplier(toCompareSupplier.value)">

      <span class="required">*</span>   שם הספק ראשון
      <mat-select style="order:1"  [(ngModel)]="compareSupplier1" >
        <mat-option *ngFor="let type of list "  [value]="type">
          <p>{{type.itemName}}  </p>
        </mat-option>
      </mat-select>
      <span class="required">*</span>שם הספק שני
      <mat-select style="order:1"  [(ngModel)]="compareSupplier2" >
        <mat-option *ngFor="let type of list "  [value]="type">
          <p>{{type.itemName}}  </p>
        </mat-option>
      </mat-select>
      <button class="button button1 " (click)=" pageDimmed4 = !pageDimmed4; compareTwoSupplier();">השוואה</button>



    </div>
  </sui-accordion-panel>

</sui-accordion>
<sui-dimmer class="page" style="background-color: white" [(isDimmed)]="pageDimmed1">
  <label id="insideDimmer"> מעקב אחרי פריט בודד</label>
  <div class="chart">
    <canvas baseChart
            [datasets]="radarChartData"
            [labels]="radarChartLabels"
            [chartType]="radarChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
</sui-dimmer>
<sui-dimmer class="page" style="background-color: white" [(isDimmed)]="pageDimmed2">
  <label id="insideDimmer">מעקב אחרי כלל הספקים</label>
  <ngx-charts-pie-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="single2"
    [legend]="showLegend"
    [explodeSlices]="explodeSlices"
    [labels]="showLabels"
    [doughnut]="doughnut"
    [gradient]="gradient"
    (select)="onSelect($event)">
  </ngx-charts-pie-chart>
</sui-dimmer>
<sui-dimmer class="page" style="background-color: white" [(isDimmed)]="pageDimmed3">
  <label id="insideDimmer">מעקב אחרי ספק ספיציפי</label>
  <ngx-charts-pie-chart
    [view]="view"
    [scheme]="colorScheme"
    [results]="single1"
    [legend]="showLegend"
    [explodeSlices]="explodeSlices"
    [labels]="showLabels"
    [doughnut]="doughnut"
    [gradient]="gradient"
    (select)="onSelect($event)">
  </ngx-charts-pie-chart>

</sui-dimmer>
<sui-dimmer class="page" style="background-color: white" [(isDimmed)]="pageDimmed4">
  <label id="insideDimmer">השוואה בין ספקים</label>
  <ngx-charts-pie-grid
    [view]="view"
    [scheme]="colorScheme"
    [results]="compareSupplierView"
    (select)="onSelect($event)">
  </ngx-charts-pie-grid>

</sui-dimmer>
