span, span:after {
  text-align: center;
  font-weight: 900;
  color: #050348;
  white-space: nowrap;
  display: inline-block;
  position: inherit;
  letter-spacing: .1em;
  padding: .2em 0 .25em 0;
}

span {
  text-align: right;
  font-size: x-large;
  z-index: 100;
  text-shadow: .04em .04em 0 #9cb8b3;
}

span:after {
  text-align: right;
  content: attr(data-shadow-text);
  color: rgba(0,0,0,.35);
  text-shadow: none;
  position: absolute;
  left: .0875em;
  top: .0875em;
  z-index: -1;
  -webkit-mask-image: url(https://f.cl.ly/items/1t1C0W3y040g1J172r3h/mask.png);
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #26D367;
}
.mat-select{
  border-bottom: 1px solid;
  width: 20em;
  text-align: center;

}


/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {float:left;width:50%}

/* Add padding to container elements */
.container {
  padding: 5px;
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  display:flex;
  align-items:center;
  top: 0;
  width: auto; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  color: #000;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #26D367;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
.form-style-2-heading{
  font-weight: bold;
  font-style: italic;
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px;
  font-size: 15px;
  padding-bottom: 3px;
}
input {
  width: 195px;
  height: 30px;
  font-size: medium;
  border: none;
  display:inline-block
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #26D367;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: small;
  padding: 7px;
  width: 78px;
  height: 25%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -100px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
h5 {
  font-size: small;
}
